/* menu.css */

#menu {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 1em 0 0;
}

#menu .pure-menu-horizontal {
    white-space: normal;
}

@media print {
    #menu { display: none; }
}


#custom-menu {
    background-color: #1c5b80;
}

.custom-menu-list {
    list-style: none;
    padding: 0;
    margin-left: 500px;
}

.custom-menu-item {
    display: inline-block;
    margin-right: 100px;
    
}

.custom-menu-link {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    padding: 50px;
    float: left;
}

.custom-menu-link:hover {
    background-color: #449ec7;
}

.custom-menu-selected {
    font-weight: bold;
    color: #ffcc00;
}