#mi-menu {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 1em 0 0;
}

#mi-menu .mi-menu-nav {
    white-space: normal;
}

@media print {
    #mi-menu { display: none; }
}

#mi-menu {
    background-color: #1c5b80;
}

.mi-menu-nav {
    list-style: none;
    padding: 0;
}

.mi-menu-item {
    display: inline-block;
    margin-right: 50px;
}

.mi-menu-link {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    padding: 30px;
    float: left;
}

.mi-menu-link:hover {
    background-color: #449ec7;
}

.mi-menu-selected {
    font-weight: bold;
    color: #ffcc00;
}
