{{- $page := . }}
<div id="mi-menu">
    <nav class="mi-menu-nav">
        {{- $menus := .Site.Menus.main }}
        {{- with .Site.Menus.secondary }}
            {{- $menus = $menus | append . }}
        {{- end }}
        {{- range $menus }}
            <div class="mi-menu-item {{ if eq $page.RelPermalink .URL }} mi-menu-selected {{ end }}">
                <a
                    class="mi-menu-link"
                    href="{{ relURL .URL }}"
                    {{ with .Params.targetBlank }}target="_blank"{{ end }}
                >
                    {{- with .Params.iconClass }}
                        <i class="{{ . }}"></i>
                    {{- else }}
                        {{ .Title }}
                    {{- end }}
                </a>
            </div>
        {{- end }}
    </nav>
</div>
